body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

a.navbar-brand img{
    max-height: 70px; 
    height: 100%;
    width: auto;
}

.navbar-custom {
    background-color: rgba(255,255,255,0.6);
}

.navbar-custom .navbar-nav .nav-link {
    color: #1a1a1a;
    padding: 0 25px;
}

/* #hover state */
.navbar-custom .nav-item:hover .nav-link {
    color: #dc2430;
}

/* active state */
.navbar-custom .nav-item.active .nav-link {
    color: #7b4397;
}

/* to make it fixed */
.nav-new {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 3rem;
    background-color: rgba(255,255,255,0.9);
}

.navbar-light .navbar-brand {
    font-family: "Lato", sans-serif;
    color: #1a1a1a;
}

.navbar-toggler {
    border: none;
}


/* hero */
.hero {
    margin: auto;
    margin-top: 140px;
    max-width: 760px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center;
    vertical-align: top; */
}


h1 {
    margin: auto;
    margin-top: 140px;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 30px;
}

#about-pic {
    width: 240px;
    float: left;
    border-radius: 12px;
    margin-right: 20px;
}



#intro {
    line-height: 30px;
    color: #707070;
    margin-bottom: 80px;
}

.uni-link {
    /* color: #1a1a1a; */
    color: #707070;
    text-decoration: none;
    transition: ease 0.2s;
    border-bottom: 3px solid #FFE839;
}

.uni-link:link{
    border-bottom: 3px solid #dc2430;
    /* opacity: 70%; */

    text-decoration: none;
}

.uni-link:hover {
    color: #1a1a1a;
}



#func-text {
    font-weight: bold;
    color: #7b4397;
}

#form-text {
    font-weight: bold;
    color: #dc2430;
}

#why-design {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 27px;
}

#why-design-content {
    line-height: 30px;
    color: #707070;
    margin-bottom: 80px;
}

#what-good-at {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 27px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 80px;
    justify-items: center;
}

.gridChild {
    max-width: 350px;
    /* height: 300px; */
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000029; 
    border-radius: 12px;
    line-height: 21px;
    text-align: center;
    
}

.gridChild > img {
    max-width: 90px;
    margin: 0 auto;
    text-align: center;
    margin: 17px;

}

.gridChild > p {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
    color: #707070;
    margin-bottom: 20px;
}

h4 {
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 17px;
}

#get-in-touch {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 27px;
}

#get-in-touch-content {
    line-height: 30px;
    color: #707070;
    margin-bottom: 15px;
}



#my-email-address {
    text-align: left;
    color: #1a1a1a;
    margin-bottom: 100px;
}

#my-email-address a{
    color: #1a1a1a;
    text-decoration: none;
    transition: ease 0.2s;
}

#my-email-address a:link{
    border-bottom: 3px solid #7b4397;
    opacity: 70%;
}

#my-email-address a:hover{
    color: black;
    border-bottom: 3px solid #dc2430;
}







/* footer */

footer {
    /* margin-top: 20px; */
    padding: 30px;
    font-size: 14px;
    text-align: center;
    background: transparent linear-gradient(95deg, #7b4397 0%, #dc2430 100%) 0% 0% no-repeat padding-box;
}


.social-media > a {
    color: white;
    margin: 5px 20px;
    font-size: 12px;
}

.footer-text {
    color: white;
    margin-top: 20px;
}




@media screen and (max-width:760px) {
    h1 {
        font-size: 34px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        max-width: 90%;
    }
    
    .gridChild {
        max-width: 90%;
        height: auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #00000029; 
        border-radius: 12px;
        text-align: center;
        
    }
    
    .gridChild > img {
        max-width: 90px;
        margin: 0 auto;
        text-align: center;
        margin: 17px;
    
    }
}


@media screen and (max-width: 350px){
    .gridChild {
        width: 100%;
    }
}