body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

a.navbar-brand img{
    max-height: 44px; 
    height: 100%;
    width: auto;
}

.navbar-custom {
    background-color: rgba(255,255,255,0.6);
}

.navbar-custom .navbar-nav .nav-link {
    color: #1a1a1a;
    padding: 0 25px;
}

/* #hover state */
.navbar-custom .nav-item:hover .nav-link {
    color: #dc2430;
}

/* active state */
.navbar-custom .nav-item.active .nav-link {
    color: #7b4397;
}

/* to make it fixed */
.nav-new {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 3rem;
    background-color: rgba(255,255,255,0.9);
}

.navbar-light .navbar-brand {
    font-family: "Lato", sans-serif;
    color: #1a1a1a;
}

.navbar-toggler {
    border: none;
}


/* hero */
.hero {
    margin: auto;
    margin-top: 140px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center;
    vertical-align: top; */
}


h1 {
    margin: auto;
    margin-top: 140px;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 20px;
}

#about-pic {
    width: 240px;
    float: left;
    border-radius: 12px;
    margin-right: 20px;
}



p {
    margin-bottom: 20px;
    line-height: 30px;
}






/* contact form section */
#contact-section {
    background: white;
}


#contact-section h2{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #1a1a1a;
}

#contact-header {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}


#my-email-address {
    text-align: center;
    color: #1a1a1a;
    
}

#my-email-address a{
    color: #1a1a1a;
    text-decoration: none;
    transition: ease 0.2s;
}

#my-email-address a:link{
    border-bottom: 3px solid #7b4397;
    opacity: 70%;
}

#my-email-address a:hover{
    color: black;
    border-bottom: 3px solid #dc2430;
}

.social-media-icons {
    display: flex;
    margin-bottom: 17px;
    justify-content: center;
    font-size: 27px;
    margin: 17px;
}

.fa {
    color: black;
    font-size: 27px;
    margin: 17px;
    transition: ease-in 0.2s;
}

.twitter-icon .fa:hover{
    color: #00aced;
}

.linkedin-icon .fa:hover {
    color: #007bb6;
}

.instagram-icon .fa:hover {
    color: #8a3ab9;
}


/* footer */

footer {
    /* margin-top: 20px; */
    padding: 30px;
    font-size: 14px;
    text-align: center;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}



#heart-icon {
    color: #dc2430;
}

#div-icon {
    font-weight: bold;
}





/* MEDIA QUERIES */

@media (max-width: 768px){
    #about-pic {
        width: 150px;
    }

    h1 {
        font-size: 27px;
    }
}

@media (max-width: 450px){
    .hero {
        margin-top: 80px;
    }

     /* PHONE footer */
     footer {
        /* margin-top: 20px; */
        padding-bottom: 40px;
        font-size: 14px;
        text-align: center;
    }


    .footer-text {
        /* max-width: 80%; */
        text-align: center;
        margin: 0 auto;
    }
}


/* for really small phones */
@media (max-width: 360px){
    #about-pic {
        width: 100px;
    }
}

